name: App Deployment

on:
  push:
    paths:
      - 'app.js'
      - 'package.json'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            sudo yum install -y nodejs npm git nginx || sudo dnf install -y nodejs npm git nginx
            mkdir -p /home/ec2-user/todo-api
            cd /home/ec2-user/todo-api

            echo "const express = require('express'); const app = express(); app.get('/', (req, res) => res.send('DevSecOps COMPLETE!')); app.listen(3000);" > app.js

            echo '{"name":"todo-api","version":"1.0.0","scripts":{"start":"node app.js"},"dependencies":{"express":"^4.18.2"}}' > package.json

            sudo npm i -g pm2
            npm i
            pm2 restart todo-api || pm2 start app.js --name todo-api